<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.2" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net461" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net461" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net461" />
  <package id="System.IO" version="4.3.0" targetFramework="net461" />
  <package id="Uno.GalaSoft.MvvmLight" version="5.4.0-uno.134" targetFramework="net461" />
  <package id="Uno.GalaSoft.MvvmLight.Platform" version="5.4.0-uno.134" targetFramework="net461" />
  <package id="WpfWindowToolkit" version="3.0.1" targetFramework="net461" />
</packages>